################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/TimerThreads/Debug
/TimerThreads/TimerThreads.vcxproj.user
